@import 'libs/mynormalize';
@import 'base/variables';

* {
	font-family: 'Source Sans Pro', sans-serif;
}
.container {
	padding: 0 32px;
	color: $bg-color;
}
@import 'blocks/header';
@import 'blocks/aside';