@import "libs/mynormalize";
@import "base/variables";
@import "base/animations";

* {
	font-family: "Source Sans Pro", sans-serif;
}
body.lock {
	overflow: hidden;
}
.container {
	padding: 0 32px;
	background-color: $bg-color;
	position: relative;
}
.wrap {
	display: flex;
	flex-direction: row;
}

@import "blocks/header";
@import "blocks/aside";
@import "blocks/main";
@import "blocks/media";
